<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageHost_PerformanceDashboard::greetings_dashboard"
             title="Performance Dashboard"
             translate="title"
             module="MageHost_PerformanceDashboard"
             parent="Magento_Backend::system_tools"
             sortOrder="99"
             dependsOnModule="MageHost_PerformanceDashboard"
             action="magehost_performance/dashboard"
             resource="Magento_Backend::system_tools"/>
    </menu>
</config>
  