<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageHost_PerformanceDashboard::dashboard"
             title="MageHost Performance Dashboard"
             translate="title"
             module="MageHost_PerformanceDashboard"
             parent="Magento_Backend::system_tools"
             sortOrder="20"
             dependsOnModule="MageHost_PerformanceDashboard"
             action="magehost_performance_dashboard/dashboard"
             resource="MageHost_PerformanceDashboard::dashboard"/>
    </menu>
</config>
  